{% extends "layouts/base.html" %}

{% block titulo %}
Nuevo Producto
{% endblock %}

{% block contenido %}

<h2 class="mb-4">Nuevo Producto</h2>

<form action="/productos/guardar" method="POST">

<div class="mb-3">

<label>Nombre</label>

<input
type="text"
name="nombre"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Descripción</label>

<textarea
name="descripcion"
class="form-control"></textarea>

</div>

<div class="mb-3">

<label>Código de barras</label>

<input
type="text"
name="codigo_barras"
class="form-control">

</div>

<div class="mb-3">

<label>Categoría</label>

<select
name="id_categoria"
class="form-select"
required>

<option value="">Seleccione...</option>

{% for categoria in categorias %}

<option value="{{ categoria.id_categoria }}">

{{ categoria.nombre }}

</option>

{% endfor %}

</select>

</div>

<div class="row">

<div class="col-md-3">

<label>Compra</label>

<input
type="number"
step="0.01"
name="precio_compra"
class="form-control">

</div>

<div class="col-md-3">

<label>Venta</label>

<input
type="number"
step="0.01"
name="precio_venta"
class="form-control">

</div>

<div class="col-md-3">

<label>Stock</label>

<input
type="number"
name="stock"
class="form-control">

</div>

<div class="col-md-3">

<label>Stock mínimo</label>

<input
type="number"
name="stock_minimo"
class="form-control">

</div>

</div>

<br>

<button class="btn btn-success">

Guardar Producto

</button>

<a href="/productos" class="btn btn-secondary">

Cancelar

</a>

</form>

{% endblock %}